{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="card-box">
            <h1>Точки отправлений</h1>
            <hr>
            <a href="{{ path('from_address_new') }}" class="btn btn-success">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
            {% if fromAddresses %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Город</th>
                        <th>Улица</th>
                        <th>Дом</th>
                        <th>Корпус</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for fromAddress in fromAddresses %}
                        <tr>
                            <td>{{ fromAddress.id }}</td>
                            <td>{{ fromAddress.city }}</td>
                            <td>{{ fromAddress.street }}</td>
                            <td>{{ fromAddress.house }}</td>
                            <td>{{ fromAddress.building }}</td>
                            <td>
                                <a href="{{ path('from_address_edit', {id: fromAddress.id}) }}" class="btn btn-warning">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </a>
                                <a href="{{ path('from_address_delete', {id: fromAddress.id}) }}" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h4>Нет записей</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}