<template>
    <div class="card-box noprint">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="phone">Телефон</label>
                    <input type="text" id="phone" v-model="buyer.phone" class="form-control">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="name">Ф.И.О.</label>
                    <input type="text" id="name" v-model="buyer.name" class="form-control">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="metro">Станция метро</label>
                    <input type="text" id="metro" v-model="buyer.metro" class="form-control">
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label for="delivery">Доставка</label>
                    <input type="text" id="delivery" v-model="delivery" class="form-control">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label></label>
                    <div class="checkbox checkbox-primary">
                        <input type="checkbox" v-model="freeDelivery" id="freeDelivery">
                        <label for="freeDelivery">
                            Бесплатно для клиента
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <div class="form-group">
                    <label for="city">Город</label>
                    <input type="text" id="city" v-model="buyer.city" class="form-control">
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="form-group">
                    <label for="street">Улица</label>
                    <input type="text" id="street" v-model="buyer.street" class="form-control">
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="col-xs-4 no-padding-left">
                    <div class="form-group">
                        <label for="house">Дом</label>
                        <input type="text" id="house" v-model="buyer.house" class="form-control">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="building">Корпус</label>
                        <input type="text" id="building" v-model="buyer.building" class="form-control">
                    </div>
                </div>
                <div class="col-xs-4 no-padding-right">
                    <div class="form-group">
                        <label for="staircase">Подъезд</label>
                        <input type="text" id="staircase" v-model="buyer.staircase" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="col-xs-4 no-padding-left">
                    <div class="form-group">
                        <label for="floor">Этаж</label>
                        <input type="text" id="floor" v-model="buyer.floor" class="form-control">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="apartment">Квартира</label>
                        <input type="text" id="apartment" v-model="buyer.apartment" class="form-control">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="intercom">Домофон</label>
                        <input type="text" id="intercom" v-model="buyer.intercom" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-12 no-padding-left">
                    <div class="form-group">
                        <label for="additionally">Дополнительная информация</label>
                        <textarea name="additionally" id="additionally" rows="5" class="form-control" v-model="buyer.note"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['route', 'buyerInfo', 'deliveryInfo'],
        data() {
            return {
                buyers: [],
                buyer: {
                    phone: '',
                    name: '',
                    metro: '',
                    city: '',
                    street: '',
                    house: '',
                    building: '',
                    staircase: '',
                    floor: '',
                    apartment: '',
                    intercom: '',
                    note: '',
                    discount: ''
                },
                freeDelivery: false,
                delivery: 0,
                buyerId: null,
            }
        },
        created() {
            this.getBuyers();
        },
        methods: {
            getBuyers() {
                this.$http.get(this.route + 'api/get-buyers').then((response) => {
                    const self = this;
                    self.buyers = response.data;
                    $(function () {
                        for (let prop in self.buyer) {
                            let source = $.map(response.data, function (item) {
                                return {
                                    label: item[prop],
                                    value: item[prop],
                                    id: item.id
                                }
                            });
                            $("#" + prop).autocomplete({
                                source: source,
                                select: function (event, ui) {
                                    for (let i = 0; i < self.buyers.length; i++) {
                                        if (self.buyers[i].id === ui.item.id) {
                                            if(self.buyers[i].black) {
                                                $(".custom-modal-title").text('Тревога!');
                                                $(".custom-modal-text").text('Данный покупатель находится в черном списке!');
                                                Custombox.open({
                                                    target: '#custom-modal'
                                                })
                                            }
                                            for (let property in self.buyer) {
                                                self.buyer[property] = self.buyers[i][property];
                                            }
                                            self.buyerId = self.buyers[i].id;
                                            self.$emit('setPrintBuyer', self.buyers[i]);
                                            self.$emit('setDiscount', self.buyers[i].discount);
                                            console.log(self.buyers[i].discount);
                                            break;
                                        }
                                    }
                                }
                            });
                        }
                    })
                }, (e) => {
                    console.log(e);
                });
            }
        },
        watch: {
            delivery(val) {
                this.$emit('checkDelivery', val);
            },
            freeDelivery: function (val) {
                if (val) {
                    this.delivery = 0;
                }
                $('#delivery').prop('disabled', val)
            },
            buyer: {
                handler: function (val) {
                    if (this.buyerId !== null) {
                        this.$emit('setBuyerId', this.buyerId);
                    }

                    this.$emit('setBuyerData', val);
                    console.log(val);

                    if (this.buyer.city !== '' && this.buyer.street !== '' && this.buyer.house !== '') {
                        this.$emit('setTo', this.buyer.city + ', улица ' + this.buyer.street + ', д. ' + this.buyer.house);
                    }
                },
                deep: true
            },
            buyerInfo() {
                this.buyer.phone = this.buyerInfo.phone;
                this.buyer.name = this.buyerInfo.name;
                this.buyer.metro = this.buyerInfo.metro;
                this.buyer.city = this.buyerInfo.city;
                this.buyer.street = this.buyerInfo.street;
                this.buyer.house = this.buyerInfo.house;
                this.buyer.building = this.buyerInfo.building;
                this.buyer.staircase = this.buyerInfo.staircase;
                this.buyer.floor = this.buyerInfo.floor;
                this.buyer.apartment = this.buyerInfo.apartment;
                this.buyer.intercom = this.buyerInfo.intercom;
                this.buyer.note = this.buyerInfo.note;
                this.buyer.discount = this.buyerInfo.discount;
            },
            deliveryInfo() {
                this.delivery = this.deliveryInfo;
            }
        }
    }
</script>

<style>
    .ui-autocomplete {
        max-height: 150px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .no-padding-left {
        padding-left: 0 !important;
    }

    .no-padding-right {
        padding-right: 0 !important;
    }
</style>