<template>
    <div class="form-group">
        <label for="courier">Курьер</label>
        <input type="text" id="courier" class="form-control">
    </div>
</template>

<script>
    export default {
        props: ['route', 'courierInfo'],
        data() {
            return {
                couriers: []
            }
        },
        created() {
            this.getCouriers();
        },
        methods: {
            getCouriers() {
                this.$http.get(this.route + 'api/get-couriers').then((response) => {
                    this.couriers = response.data;
                    const self = this;
                    $(function () {
                        let source = $.map(self.couriers, function (item) {
                            if (self.currentId !== null && item.id === self.currentId) {
                                $('#courier').val(item.name);
                            }
                            return {
                                label: item.name,
                                value: item.name,
                                id: item.id
                            }
                        });
                        $("#courier").autocomplete({
                            source: source,
                            select: function (event, ui) {
                                self.$emit('changeCourier', ui.item.id);
                            }
                        });
                    });
                }, (e) => {
                    console.log(e)
                })
            }
        },
        watch: {
            courierInfo() {
                if (this.couriers.length === 0) {
                    this.currentId = this.courierInfo.id;
                }
            }
        }
    }
</script>