<template>
    <div class="form-group">
        <label for="date">Дата</label>
        <input type='text' class="form-control" id="date">
    </div>
</template>

<script>
    export default {
        props: ['date'],
        created() {
            const self = this;
            $(function () {
                $('#date').datetimepicker({
                    locale: 'ru',
                    format: 'L',
                    useCurrent: true
                });

                $('#date').on('dp.change', function (e) {
                    if (e.date._isAMomentObject) {
                        self.$emit('checkDate', e.date.format('L'));
                        console.log(e.date.format('L'))
                    }
                    if (e._isAMomentObject) {
                        self.$emit('checkDate', e.format('L'));
                        console.log(e.format('L'))
                    }
                })
            });
        },
        watch: {
            date() {
                if (this.date._isAMomentObject) {
                    $('#date').val(this.date.format('L'));
                    this.$emit('checkDate', this.date.format('L'));
                }
            }
        }
    }
</script>