<template>
    <div class="form-group">
        <label for="from">Точка отправления</label>
        <select name="from" id="from" class="form-control" v-model="fromId">
            <option :value="from.id" v-for="from in fromAddresses">
                {{ from.city }}, {{ from.street }}, д. {{ from.house }}
                <template v-if="from.building">, к. {{ from.building }}</template>
            </option>
        </select>
    </div>
</template>

<script>
    export default {
        props: ['route', 'fromInfo'],
        data() {
            return {
                fromAddresses: [],
                fromId: null,
                currentId: null
            }
        },
        created() {
            this.getStatuses()
        },
        methods: {
            getStatuses() {
                this.$http.get(this.route + 'api/get-from-addresses').then((response) => {
                    this.fromAddresses = response.data;
                    this.fromId = response.data[0].id;
                    if (this.currentId === null) {
                        this.fromId = response.data[0].id;
                    } else {
                        this.fromId = this.currentId;
                    }
                }, (e) => {
                    console.log(e);
                });
            }
        },
        watch: {
            fromId(id) {
                this.$emit('changeFrom', id);
                let currentFromAddress = null;
                let str = '';

                for (let key in this.fromAddresses) {
                    if (this.fromAddresses[key].id === id) {
                        currentFromAddress = this.fromAddresses[key];
                    }
                }

                if (currentFromAddress) {
                    str += currentFromAddress.city + ', ';
                    str += currentFromAddress.street + ', ';
                    str += currentFromAddress.house;
                    if (currentFromAddress.building) {
                        str += ', ' + currentFromAddress.building;
                    }
                    this.$emit('setFromAddress', str);
                }
            },
            fromInfo() {
                this.currentId = this.fromInfo.id;
            }
        }
    }
</script>