<template>
    <div class="form-group">
        <label for="manager">Менеджер</label>
        <input type="text" id="manager" class="form-control">
    </div>
</template>

<script>
    export default {
        props: ['route', 'managerInfo'],
        data() {
            return {
                managers: [],
                currentId: null
            }
        },
        created() {
            this.getManagers();
        },
        methods: {
            getManagers() {
                this.$http.get(this.route + 'api/get-managers').then((response) => {
                    this.managers = response.data;
                    const self = this;
                    $(function () {
                        let source = $.map(self.managers, function (item) {
                            if (self.currentId !== null && item.id === self.currentId) {
                                $('#manager').val(item.name);
                            }
                            return {
                                label: item.name,
                                value: item.name,
                                id: item.id
                            }
                        });
                        $("#manager").autocomplete({
                            source: source,
                            select: function (event, ui) {
                                self.$emit('checkManager', ui.item.id);
                            }
                        });
                    });
                }, (e) => {
                    console.log(e)
                })
            }
        },
        watch: {
            managerInfo() {
                if (this.managers.length === 0) {
                    this.currentId = this.managerInfo.id;
                }
            }
        }
    }
</script>