<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card-box noprint">
                    <div class="row">
                        <div class="col-md-3">
                            <manager-input :route="route" :managerInfo="managerInfo" @checkManager="setManager"></manager-input>
                        </div>
                        <div class="col-md-2">
                            <date-input @checkDate="setDateDelivery" :date="currentDate"></date-input>
                        </div>
                        <div class="col-md-2">
                            <time-input @checkTime="setTimeDelivery" :time="currentTime"></time-input>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="discount">Скидка %</label>
                                <input type="text" name="discount" id="discount" class="form-control" v-model="discount">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label></label>
                                <div class="checkbox checkbox-primary">
                                    <input id="freezeDiscount" type="checkbox" :disabled="currentBuyerId === null" v-model="freezeDiscount">
                                    <label for="freezeDiscount">
                                        Закрепить скидку за клиентом
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Блок покупателя-->
                <buyer-inputs
                    :route="route"
                    :buyerInfo="buyerInfo"
                    :deliveryInfo="deliveryInfo"
                    @setBuyerId="setBuyerId"
                    @setBuyerData="setBuyerData"
                    @checkDelivery="setDelivery"
                    @setDiscount="setDiscount"
                    @setTo="sendTo"
                ></buyer-inputs>

                <div class="card-box noprint">
                    <product-inputs
                        :tester="{route, delivery: currentDelivery, discount}"
                        :productsInfo="productsInfo"
                        @setOrderCost="setOrderCost"
                        @checkProducts="setSelectedProducts"
                    ></product-inputs>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-xs-6 no-padding-left">
                                <courier-input :route="route" :courierInfo="courierInfo" @changeCourier="setCourier"></courier-input>
                            </div>
                            <div class="col-xs-6">
                                <status-select :route="route" :statusInfo="statusInfo" @changeStatus="setStatus"></status-select>
                            </div>
                            <div class="col-xs-12 no-padding-left">
                                <div class="form-group">
                                    <label for="note">Примечание</label>
                                    <textarea name="note" id="note" rows="5" class="form-control" v-model="note"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-xs-6">
                                <payment-select :route="route" :paymentInfo="paymentInfo" @changePayment="setPayment"></payment-select>
                                <div class="form-group vertical-margin">
                                    <div class="checkbox checkbox-primary">
                                        <input type="checkbox" v-model="callAtGate" id="call-at-gate">
                                        <label for="call-at-gate">
                                            Позвонить у подъезда
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group vertical-margin">
                                    <div class="checkbox checkbox-primary">
                                        <input type="checkbox" v-model="sendSms" id="send-sms">
                                        <label for="send-sms">
                                            Отправить СМС № заказа
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 information">
                                <div class="form-group">
                                    <label for="surrender">Требуется сдача</label>
                                    <input type="text" class="form-control" id="surrender" v-model="banknote">
                                </div>
                                <p><label>Сдача: </label><b v-if="banknote - orderCost > 0" class="text-custom"> {{ banknote - orderCost }}</b></p>
                                <from-address-select :route="route" :fromInfo="from" @setFromAddress="setFromAddress" @changeFrom="setFrom"></from-address-select>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-3 no-padding-left">
                                    <button type="button" class="btn btn-purple waves-effect waves-light btn-block" @click="saveOrder">
                                        Сохранить
                                    </button>
                                </div>
                                <div class="col-xs-3">
                                    <button type="button" class="btn btn-default waves-effect waves-light btn-block" @click="print">
                                        Печать
                                    </button>
                                </div>
                                <div class="col-xs-3">
                                    <button type="button" class="btn btn-default waves-effect waves-light btn-block" @click="goToOrders">
                                        Отменить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="print">
                    <table>
                        <thead>
                        <tr>
                            <th>Заказ</th>
                            <th>Покупатель</th>
                            <th>Товары</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <p>Дата: {{ currentDate }} {{ currentTime }}</p>
                                <p>Стоимость доставки: {{ currentDelivery }}</p>
                                <p>Скидка: {{ discount }}</p>
                                <p>К оплате: {{ orderCost }}</p>
                                <p v-if="banknote">Купюра: {{ banknote }}</p>
                                <p v-if="banknote - orderCost > 0">Сдача: {{ banknote - orderCost }}</p>
                                <p>Позвонить у подъезда: {{ callAtGate ? 'Да' : 'Нет' }}</p>
                                <p>Позвонить у подъезда: {{ callAtGate ? 'Да' : 'Нет' }}</p>
                                <p>Доп. информация: {{ note }}</p>
                            </td>
                            <td>
                                <p>ФИО: {{ buyerData.name }}</p>
                                <p>Телефон: {{ buyerData.phone }}</p>
                                <p>Станция метро: {{ buyerData.metro }}</p>
                                <p>Город: {{ buyerData.city }}</p>
                                <p>Улица: {{ buyerData.street }}</p>
                                <p>Дом: {{ buyerData.house }}</p>
                                <p>Корпус: {{ buyerData.building }}</p>
                                <p>Подъезд: {{ buyerData.staircase }}</p>
                                <p>Этаж: {{ buyerData.floor }}</p>
                                <p>Квартира: {{ buyerData.apartment }}</p>
                                <p>Домофон: {{ buyerData.intercom }}</p>
                                <p>Доп. информация: {{ buyerData.note }}</p>
                            </td>
                            <td>
                                <table border="1">
                                    <tr>
                                        <th>Название</th>
                                        <th>Количество</th>
                                    </tr>
                                    <tr v-for="product in productsInfo">
                                        <td>{{ product.product.name }}</td>
                                        <td align="center">{{ product.number }}</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="no-float">
                    <yamap :points="{'from': fromAddress, to}" :isNew="test === 'new'"></yamap>
                </div>
                <!-- Modal -->
                <div id="custom-modal" class="modal-demo">
                    <button type="button" class="close" onclick="Custombox.close();">
                        <span>&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="custom-modal-title">Foo</h4>
                    <div class="custom-modal-text">
                        Bar
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ManagerInput from './../components/ManagerInput.vue'
    import CourierInput from './../components/CourierInput.vue'
    import DateInput from './../components/DateInput.vue'
    import TimeInput from './../components/TimeInput.vue'
    import BuyerInputs from './../components/BuyerInputs.vue'
    import StatusSelect from './../components/StatusSelect.vue'
    import PaymentSelect from './../components/PaymentSelect.vue'
    import ProductInputs from './../components/ProductInputs.vue'
    import FromAddressSelect from './../components/FromAddressSelect.vue'
    import Yamap from './../components/Yamap.vue'

    export default {
        props: ['route', 'test'],
        components: {
            ManagerInput,
            CourierInput,
            DateInput,
            TimeInput,
            BuyerInputs,
            StatusSelect,
            PaymentSelect,
            ProductInputs,
            Yamap,
            FromAddressSelect
        },
        data() {
            return {
                data: {},
                currentManagerId: null,
                currentDate: null,
                currentTime: null,
                discount: 0,
                freezeDiscount: false,
                currentBuyerId: null,
                currentCourierId: null,
                currentStatusId: null,
                currentPaymentId: null,
                buyerData: {},
                currentDelivery: 0,
                banknote: 0,
                orderCost: 0,
                fromAddress: 'Москва, улица Вавилова, д. 81',
                from: null,
                to: '',
                callAtGate: false,
                sendSms: false,
                note: '',
                selectedProducts: [],
                buyerInfo: null,
                deliveryInfo: null,
                managerInfo: null,
                courierInfo: null,
                statusInfo: null,
                paymentInfo: null,
                productsInfo: null,
                orderId: null
            }
        },
        created() {
            if (this.test !== 'new') {
                this.$http.get(this.route + 'api/orders/' + this.test).then(response => {
                    let data = response.data;
                    let date = moment(data.date, 'DD/MM/YYYY HH:mm');
                    this.banknote = data.banknote;
                    this.callAtGate = data.call_at_gate;
                    this.sendSms = data.send_sms;
                    this.note = data.note;
                    this.managerInfo = data.manager;
                    this.courierInfo = data.courier;
                    this.buyerInfo = data.buyer;
                    this.discount = data.discount;
                    this.currentDate = date;
                    this.currentTime = date;
                    this.deliveryInfo = data.delivery;
                    this.statusInfo = data.status;
                    this.paymentInfo = data.payment;
                    this.productsInfo = data.product;
                    this.currentBuyerId = data.buyer.id;
                    this.currentCourierId = data.courier.id;
                    this.currentManagerId = data.manager.id;
                    this.from = data.from;
                    this.orderId = data.id;
                }, e => {
                    console.log(e);
                })
            }
        },
        methods: {
            goToOrders() {
                location.href = this.route + "order";
            },
            setManager(id) {
                this.currentManagerId = id;
            },
            setDateDelivery(date) {
                this.currentDate = date;
            },
            setTimeDelivery(time) {
                this.currentTime = time;
            },
            setCourier(id) {
                this.currentCourierId = id;
            },
            setStatus(id) {
                this.currentStatusId = id;
            },
            setPayment(id) {
                this.currentPaymentId = id;
            },
            setBuyerId(id) {
                this.currentBuyerId = id;
            },
            setBuyerData(obj) {
                this.buyerData = obj;
                this.discount = obj.discount;
            },
            setDelivery(val) {
                this.currentDelivery = val;
            },
            setOrderCost(val) {
                this.orderCost = val;
            },
            setDiscount(val) {
                this.discount = val;
            },
            setFrom(id) {
                this.from = id;
            },
            setSelectedProducts(arr) {
                this.selectedProducts = arr;
            },
            setFromAddress(str) {
                this.fromAddress = str;
            },
            print() {
                window.print();
            },
            sendTo(val) {
                this.to = val;
            },
            saveOrder() {
                if (this.currentBuyerId !== null) {
                    this.buyerData.id = this.currentBuyerId;
                }
                this.$http.post(this.route + 'api/new-order', {
                    order: {
                        id: this.orderId,
                        date: this.currentDate + ' ' + this.currentTime,
                        manager: this.currentManagerId,
                        courier: this.currentCourierId,
                        status: this.currentStatusId,
                        payment: this.currentPaymentId,
                        from: this.from,
                        buyer: this.buyerData,
                        delivery: this.currentDelivery,
                        discount: this.discount,
                        cost: this.orderCost,
                        banknote: this.banknote,
                        callAtGate: this.callAtGate,
                        sendSms: this.sendSms,
                        note: this.note,
                        products: this.selectedProducts,
                    }
                }).then((response) => {
                    if (response.status === 201) {
                        $(".custom-modal-title").text('Успешно!');
                        $(".custom-modal-text").text('Заказ был сохранен');
                        Custombox.open({
                            target: '#custom-modal'
                        })
                    }
                }, (e) => {
                    $(".custom-modal-title").text('Ошибка!');
                    $(".custom-modal-text").text('Заказ не был сохранен, заполнены не все поля');
                    Custombox.open({
                        target: '#custom-modal'
                    })
                });
            }
        },
        watch: {
            freezeDiscount: function (val) {
                if (this.currentBuyerId !== null) {
                    let value = val ? this.discount : this.discount = 0;
                    this.$http.post(this.route + 'api/set-discount', {
                        val: value,
                        id: this.currentBuyerId
                    }).then((response) => {
                        $(".custom-modal-title").text('Успешно!');
                        $(".custom-modal-text").text('Скидка была закреплена за покупателем');
                        Custombox.open({
                            target: '#custom-modal'
                        })
                    }, (e) => {
                        console.log(e)
                    })
                } else {
                    $(".custom-modal-title").text('Ошибка!');
                    $(".custom-modal-text").text('Не выбран покупатель');
                    Custombox.open({
                        target: '#custom-modal'
                    })
                }
            }
        }
    }
</script>

<style>
    .print {
        display: none;
    }
    @media print {
        table td {
            padding: 5px;
            vertical-align: top;
        }
        table th {
            padding: 5px;
        }
        .print {
            display: block;
        }
        .noprint {
            display: none;
        }
    }
    .vertical-margin {
        margin-top: 30px;
        margin-bottom: 25px;
    }
</style>