<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="card-box equal">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="manager">Менеджер</label>
                                <select name="manager" id="manager" class="form-control" v-model="filters.manager">
                                    <option value="">Выбрать менеджера</option>
                                    <template v-for="(manager, key) in managers">
                                        <option :value="manager.id">
                                            {{ manager.name }} - {{ manager.email }}
                                        </option>
                                    </template>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="status">Статус</label>
                                <select name="status" id="status" class="form-control" v-model="filters.status">
                                    <option value="" v-model="filters.status">Выбрать статус заказа</option>
                                    <template v-for="(status, key) in statuses">
                                        <option :value="status.id">
                                            {{ status.title }}
                                        </option>
                                    </template>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="courier">Курьер</label>
                                <select name="courier" id="courier" class="form-control" v-model="filters.courier">
                                    <option value="" v-model="filters.courier">Выбрать курьера</option>
                                    <template v-for="(courier, key) in couriers">
                                        <option :value="courier.id">
                                            {{ courier.name }} {{ courier.car }} - {{ courier.phone }}
                                        </option>
                                    </template>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="payment">Оплата</label>
                                <select name="payment" id="payment" class="form-control" v-model="filters.payment">
                                    <option value="" v-model="filters.payment">Выбрать вид оплаты</option>
                                    <template v-for="(payment, key) in payments">
                                        <option :value="payment.id">
                                            {{ payment.title }}
                                        </option>
                                    </template>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label>Период</label>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <div class="input-group date" id="from">
                                        <input type="text" class="form-control" placeholder="С" v-model="filters.dates.from">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar open-datetimepicker"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <div class="input-group date" id="to">
                                        <input type="text" class="form-control" placeholder="По" v-model="filters.dates.to">
                                        <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <div class="checkbox checkbox-primary">
                                        <input type="checkbox" value="" v-model="filters.freeDelivery" id="freeDelivery">
                                        <label for="freeDelivery">
                                            Бесплатная доставка
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="phone2">Телефон</label>
                                <input type="text" id="phone2" class="form-control" placeholder="Поиск по номеру телефона" v-model="filters.buyerPhone">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="search">Номер заказа</label>
                            <input type="text" class="form-control" placeholder="Поиск по номеру заказа" id="search" v-model="filters.numberOrder">
                        </div>
                        <div class="col-md-4">
                            <label for="search">Название товара</label>
                            <input type="text" class="form-control" placeholder="Поиск по названию товара" id="productName" v-model="filters.productName">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card-box equal">
                    <div class="information">
                        <label>Заказы:</label> <b class="text-custom">{{ total }} шт.</b><br>
                        <label>Себестоимость:</label> <b class="text-custom">{{ purchaseCost }}</b><br>
                        <label>Розничная:</label> <b class="text-custom">{{ allCost }}</b><br>
                        <label>Прибыль:</label> <b class="text-custom">{{ allCost - purchaseCost }}</b><br>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card-box">
                    <div class="row">
                        <div class="col-xs-3">
                            <h4>Таблица</h4>
                            <h5>Статистика заказов</h5>
                        </div>
                        <div class="col-xs-8">
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <div class="checkbox checkbox-primary">
                                        <input type="checkbox" value="" v-model="orderCheck" id="order">
                                        <label for="order">
                                            Заказ
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <div class="checkbox checkbox-primary">
                                        <input type="checkbox" value="" v-model="numberCheck" id="numberCheck">
                                        <label for="numberCheck">
                                            Номер заказа
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <div class="checkbox checkbox-primary">
                                        <input type="checkbox" value="" v-model="dateCheck" id="dateCheck">
                                        <label for="dateCheck">
                                            Дата
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <div class="checkbox checkbox-primary">
                                        <input type="checkbox" value="" v-model="managerCheck" id="managerCheck">
                                        <label for="managerCheck">
                                            Менеджер
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <div class="checkbox checkbox-primary">
                                        <input type="checkbox" value="" v-model="paymentCheck" id="paymentCheck">
                                        <label for="paymentCheck">
                                            Оплата
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <div class="checkbox checkbox-primary">
                                        <input type="checkbox" value="" v-model="statusCheck" id="statusCheck">
                                        <label for="statusCheck">
                                            Статус
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <div class="checkbox checkbox-primary">
                                        <input type="checkbox" value="" v-model="costCheck" id="costCheck">
                                        <label for="costCheck">
                                            Цена
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <div class="checkbox checkbox-primary">
                                        <input type="checkbox" value="" v-model="courierCheck" id="courierCheck">
                                        <label for="courierCheck">
                                            Курьер
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th v-if="orderCheck">Заказ</th>
                                    <th v-if="numberCheck">№</th>
                                    <th v-if="dateCheck">Дата</th>
                                    <th v-if="managerCheck">Менеджер</th>
                                    <th v-if="paymentCheck">Оплата</th>
                                    <th v-if="statusCheck">Статус</th>
                                    <th v-if="costCheck">Цена</th>
                                    <th v-if="courierCheck">Курьер</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(order, key) in orders" @click="editOrder(order)" class="link">
                                    <td v-if="orderCheck">
                                        <table>
                                            <tr v-for="product in order.product">
                                                <td>{{ product.product.name }}&nbsp;</td>
                                                <td>{{ product.number }} шт.</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td v-if="numberCheck">{{ order.id }}</td>
                                    <td v-if="dateCheck">{{ order.date }}</td>
                                    <td v-if="managerCheck">{{ order.manager.name }}</td>
                                    <td v-if="paymentCheck">{{ order.payment.title }}</td>
                                    <td v-if="statusCheck">{{ order.status.title }}</td>
                                    <td v-if="costCheck">{{ order.cost }}</td>
                                    <td v-if="courierCheck">
                                        {{ order.courier.name }}<br>
                                        {{ order.courier.phone }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div align="center">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                        <li>
                                            <a aria-label="Previous" @click="refreshOrders(1)">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li v-for="page in pages"
                                            :class="currentPage === page ? 'active' : ''"
                                            v-if="Math.abs(page - currentPage) < 3 || page == total || page == 1"
                                        >
                                            <a @click="refreshOrders(page)">{{ page }}</a>
                                        </li>
                                        <li>
                                            <a aria-label="Next" @click="refreshOrders(pages)">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment'
    import eonosdandatetimepicker from 'eonasdan-bootstrap-datetimepicker'

    export default {
        props: ['route'],
        data() {
            return {
                managers: [],
                statuses: [],
                couriers: [],
                orders: [],
                payments: [],
                orderCheck: true,
                paymentCheck: true,
                dateCheck: true,
                managerCheck: true,
                statusCheck: true,
                courierCheck: true,
                costCheck: true,
                numberCheck: true,
                pages: 0,
                total: 0,
                perPage: 5,
                currentPage: 1,
                filters: {
                    manager: '',
                    status: '',
                    courier: '',
                    order: '',
                    payment: '',
                    dates: {
                        from: '',
                        to: ''
                    },
                    buyerPhone: '',
                    overdue: false,
                    freeDelivery: false,
                    numberOrder: '',
                    productName: ''
                },
                allCost: 0,
                purchaseCost: 0,
            }
        },
        created() {
            const self = this;
            $(function () {
                $('#from').datetimepicker({
                    locale: 'ru',
                    format: 'L'
                });
                $('#to').datetimepicker({
                    locale: 'ru',
                    format: 'L',
                    useCurrent: false
                });
                $("#from").on("dp.change", function (e) {
                    $('#to').data("DateTimePicker").minDate(e.date);
                    self.filters.dates.from = e.date.format('L');
                });
                $("#to").on("dp.change", function (e) {
                    $('#from').data("DateTimePicker").maxDate(e.date);
                    self.filters.dates.to = e.date.format('L');
                });
            });
            this.refreshOrders(1);
            this.$http.get(this.route + 'api/get-managers').then(response => {
                this.managers = response.data;
            }, (e) => {
                console.log(e);
            });
            this.$http.get(this.route + 'api/get-statuses').then(response => {
                this.statuses = response.data;
            }, (e) => {
                console.log(e);
            });
            this.$http.get(this.route + 'api/get-couriers').then(response => {
                this.couriers = response.data;
            }, (e) => {
                console.log(e);
            });
            this.$http.get(this.route + 'api/get-payments').then(response => {
                this.payments = response.data;
            }, (e) => {
                console.log(e);
            });

            $(document).ready(function() {
                let maxHeight = 0;
                $('.equal').each(function() {
                    if ($(this).height() > maxHeight) {
                        maxHeight = $(this).height();
                    }
                });

                $('.equal').each(function() {
                    $(this).height(maxHeight);
                });

                let infoHeight = $('.information').height();
                let pad = (maxHeight - infoHeight) / 2;

                $('.information').css('padding-top', pad);
            });
        },
        methods: {
            refreshOrders(page) {
                this.$http.post(this.route + 'api/get-orders', {
                    page: page,
                    perPage: this.perPage,
                    filters: this.filters
                }).then(response => {
                    this.currentPage = page;
                    this.orders = response.data.data;
                    this.total = response.data.total;
                    let num = response.data.count / this.perPage;
                    this.pages = Math.ceil(num);
                    this.allCost = response.data.costs.productsCost;
                    this.purchaseCost = response.data.costs.purchaseCost;
                }, (e) => {
                    console.log(e);
                });
            },
            editOrder(order) {
                window.location = this.route + 'order/' + order.id + '/edit';
            }
        },
        watch: {
            'filters': {
                handler () {
                    this.refreshOrders(1);
                },
                deep: true
            }

        }
    }
</script>

<style>
    a, .link {
        cursor: pointer;
    }

    .information {
        padding-left: 60px;
    }
</style>