<template>
    <div class="form-group">
        <label for="payment">Оплата</label>
        <select name="payment" id="payment" class="form-control" v-model="paymentId">
            <option :value="payment.id" v-for="payment in payments">{{ payment.title }}</option>
        </select>
    </div>
</template>

<script>
    export default {
        props: ['route', 'paymentInfo'],
        data() {
            return {
                payments: [],
                paymentId: null,
                currentId: null
            }
        },
        created() {
            this.getStatuses()
        },
        methods: {
            getStatuses() {
                this.$http.get(this.route + 'api/get-payments').then((response) => {
                    this.payments = response.data;
                    this.paymentId = response.data[0].id;
                    if (this.currentId === null) {
                        this.paymentId = response.data[0].id;
                    } else {
                        this.paymentId = this.currentId;
                    }
                }, (e) => {
                    console.log(e);
                });
            }
        },
        watch: {
            paymentId(val) {
                this.$emit('changePayment', val)
            },
            paymentInfo() {
                this.currentId = this.paymentInfo.id;
            }
        }
    }
</script>