<template>
    <div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="product">Добавить товар</label>
                    <input type="text" class="form-control" placeholder="Введите название товара" id="product">
                </div>
            </div>
            <div class="col-md-8">
                <div class="col-xs-4">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label for="quantity">Кол-во</label>
                        </div>
                        <div class="col-xs-6">
                            <input id="quantity" type="number" min="1" class="form-control" v-model="quantity" value="1">
                        </div>
                        <div class="col-xs-6">
                            <button type="button" class="btn btn-purple waves-effect waves-light" @click="addProduct">Добавить</button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-8 information">
                    <div class="col-xs-6">
                        <label></label>
                        <p><label>Сумма заказа: </label><b class="text-custom"> {{ cost }}</b></p>
                        <p><label>Скидка: </label><b class="text-custom"> {{ discount }}</b></p>
                    </div>
                    <div class="col-xs-6">
                        <label></label>
                        <p><label>Доставка: </label><b class="text-custom"> {{ tester.delivery }}</b></p>
                        <p><label>К оплате: </label><b class="text-custom"> {{ finalCost }}</b></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label>Заказы</label>
                <div class="col-xs-12 no-padding-left">
                    <div class="content-with-border">
                        <table v-if="selectedProducts.length > 0" class="table table-hover">
                            <thead>
                            <tr>
                                <th>Название</th>
                                <th>Количество</th>
                                <th>Цена за единицу</th>
                                <th>Общая сумма</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(product, key) in selectedProducts">
                                <td>{{ product.product.name }}</td>
                                <td>
                                    <div class="col-xs-3 no-padding-left">
                                        <input type="number" min="1" class="form-control" v-model="product.value">
                                    </div>
                                </td>
                                <td>{{ product.product.cost }}</td>
                                <td>{{ product.product.cost * product.value}}</td>
                                <td>
                                    <span class="glyphicon glyphicon-remove linked" @click="removeProduct(key)"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['tester', 'productsInfo'],
        data() {
            return {
                products: [],
                selectedProducts: [],
                currentProduct: {},
                quantity: 1,
                discount: 0,
                cost: 0,
                finalCost: 0,
            }
        },
        created() {
            this.getProducts();
        },
        methods: {
            getProducts() {
                this.$http.get(this.tester.route + 'api/get-products').then((response) => {
                    this.products = response.data;
                    const self = this;
                    $(function () {
                        let source = $.map(self.products, function (item) {
                            return {
                                label: item.name + ' (' + item.balance + ' шт.)',
                                value: item.name,
                                id: item.id
                            }
                        });
                        $("#product").autocomplete({
                            source: source,
                            select: function (event, ui) {
                                for (let i = 0; i < self.products.length; i++) {
                                    if (self.products[i].id === ui.item.id) {
                                        self.currentProduct = self.products[i];
                                        break;
                                    }
                                }
                            }
                        });
                    });
                }, (e) => {
                    console.log(e);
                });
            },
            addProduct() {
                if (this.currentProduct.id) {
                    if (this.currentProduct.balance < this.quantity) {
                        alert('Нет столько продуктов');
                        this.quantity = this.currentProduct.balance;
                        return;
                    }

                    let productKey = null;
                    for (let key in this.selectedProducts) {
                        if (this.currentProduct.id === this.selectedProducts[key].product.id) {
                            productKey = key;
                        }
                    }

                    if (productKey === null) {
                        this.selectedProducts.push({
                            product: this.currentProduct,
                            value: this.quantity
                        });
                    } else {
                        this.selectedProducts[productKey].value += Number(this.quantity);
                    }
                }
                this.currentProduct = {};
                this.$emit('checkProducts', this.selectedProducts);
                this.getCost();
                $('#product').val('');
                this.quantity = 1;
            },
            removeProduct(key) {
                this.selectedProducts.splice(key, 1);
                this.$emit('checkProducts', this.selectedProducts);
                this.getCost();
            },
            getCost() {
                this.cost = 0;
                for (let key in this.selectedProducts) {
                    let product = this.selectedProducts[key];

                    let limit = product.product.balance;

                    for (let prodKey in this.productsInfo) {
                        if (product.product.id === this.productsInfo[prodKey].product.id) {
                            limit += this.productsInfo[prodKey].number;
                        }
                    }

                    if (limit < product.value) {
                        product.value = limit;
                    }

                    this.cost += (product.product.cost * product.value);
                }
                this.getFinalCost();
                this.$emit('setOrderCost', this.finalCost);
            },
            getFinalCost() {
                this.discount = Math.floor(this.cost * (this.tester.discount / 100));
                this.finalCost = Number(this.cost) - Number(this.discount) + Number(this.tester.delivery);
            }
        },
        watch: {
            'tester.delivery'() {
                this.getCost();
            },
            'tester.discount'() {
                this.getCost();
            },
            'selectedProducts': {
                handler () {
                    this.getCost();
                },
                deep: true
            },
            productsInfo() {
                for (let product in this.productsInfo) {
                    this.selectedProducts.push({
                        product: this.productsInfo[product].product,
                        value: this.productsInfo[product].number
                    });
                }
                this.$emit('checkProducts', this.selectedProducts);
            },
            quantity() {
                if (this.currentProduct.id) {
                    if (this.quantity > this.currentProduct.balance) {
                        this.quantity = this.currentProduct.balance;
                    }
                }
            },
            currentProduct() {
                this.quantity = 1;
            }
        }
    }
</script>

<style>
    .linked {
        cursor: pointer;
    }
    tbody {
        color: #ffffff !important;
    }
    .content-with-border {
        background-color: #394c57;
        border: 2px solid rgba(238, 238, 238, 0.1);
        border-radius: 4px;
        color: #ffffff;
        padding: 10px;
    }
</style>