<template>
    <div class="form-group">
        <label for="status">Статус</label>
        <select name="status" id="status" class="form-control" v-model="statusId">
            <option :value="status.id" v-for="status in statuses">{{ status.title }}</option>
        </select>
    </div>
</template>

<script>
    export default {
        props: ['route', 'statusInfo'],
        data() {
            return {
                statuses: [],
                statusId: null,
                currentId: null
            }
        },
        created() {
            this.getStatuses()
        },
        methods: {
            getStatuses() {
                this.$http.get(this.route + 'api/get-statuses').then((response) => {
                    this.statuses = response.data;
                    if (this.currentId === null) {
                        this.statusId = response.data[0].id;
                    } else {
                        this.statusId = this.currentId;
                    }
                }, (e) => {
                    console.log(e);
                });
            }
        },
        watch: {
            statusId(val, oldVal) {
                this.$emit('changeStatus', val)
            },
            statusInfo() {
                this.currentId = this.statusInfo.id;
            }
        }
    }
</script>