<template>
    <div class="form-group">
        <label for="time">Время</label>
        <input type='text' class="form-control" id='time'>
    </div>
</template>

<script>
    export default {
        props: ['time'],
        created() {
            const self = this;
            $(function () {
                $('#time').datetimepicker({
                    locale: 'ru',
                    format: 'LT'
                });
                $('#time').on('dp.change', function (e) {
                    if (e.date._isAMomentObject) {
                        self.$emit('checkTime', e.date.format('LT'));
                    }
                    if (e._isAMomentObject) {
                        self.$emit('checkTime', e.format('LT'));
                    }
                })
            });
        },
        watch: {
            time() {
                if (this.time._isAMomentObject) {
                    $('#time').val(this.time.format('LT'));
                    this.$emit('checkTime', this.time.format('LT'));
                }
            }
        }
    }
</script>