<template>
    <div>
        <div class="col-md-8 col-md-offset-2 map-info">
            <p>Длина маршрута: {{ routeLength }} км</p>
            <p>Время проезда с учетом пробок: {{ routeTime }} мин</p>
            <div id="map" style="height: 600px"></div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['points', 'isNew'],
        data() {
            return {
                yamaps: {},
                myMap: {},
                routeLength: 0,
                routeTime: 0
            }
        },
        mounted() {
            $.getScript('//api-maps.yandex.ru/2.1/?lang=ru_RU').then(() => {
                this.ymaps = global.ymaps;
                const self = this;
                this.ymaps.ready(function () {
                    self.drawMap();
                });
            });
        },
        methods: {
            drawMap() {
                this.myMap = new this.ymaps.Map("map", {
                    center: [55.76, 37.64],
                    zoom: 10
                }, {
                    searchControlProvider: 'yandex#search'
                });
                if (!this.isNew) {
                    this.drawPoints(this.myMap)
                }
            },
            drawPoints(myMap) {
                if (this.points.from === '' || this.points.to === '') {
                    return;
                }
                const self = this;
                this.ymaps.route([
                    this.points.from,
                    this.points.to
                ], {
                    // Автоматически позиционировать карту.
                    mapStateAutoApply: true,
                    avoidTrafficJams: true
                }).then(function (route) {
                    myMap.geoObjects.removeAll();
                    myMap.geoObjects.add(route);
                    // Зададим содержание иконок начальной и конечной точкам маршрута.
                    // С помощью метода getWayPoints() получаем массив точек маршрута.
                    // Массив транзитных точек маршрута можно получить с помощью метода getViaPoints.
                    let points = route.getWayPoints(),
                        lastPoint = points.getLength() - 1;
                    self.routeLength = Math.round(route.getLength() / 1000);
                    self.routeTime = Math.round(route.getJamsTime() / 60);
                    // Задаем контент меток в начальной и конечной точках.
                    points.get(0).properties.set('iconContent', 'A');
                    points.get(lastPoint).properties.set('iconContent', 'B');
                }, function (error) {
                    console.log('Возникла ошибка: ' + error.message);
                });
            }
        },
        watch: {
            'points': {
                handler() {
                    if (this.myMap._zoom) {
                        this.drawPoints(this.myMap);
                    }
                },
                deep: true
            }
        }
    }
</script>

<style>
    .map-info {
        margin-top: 30px;
        color: #ffffff;
    }
</style>