{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="card-box">
            <h1>Администраторы</h1>
            <hr>
            <a href="{{ path('admin_new') }}" class="btn btn-success">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
            <table class="table">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Id', 'u.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Логин', 'u.username') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Email', 'u.email') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'ФИО', 'u.name') }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for admin in pagination %}
                    <tr>
                        <td>{{ admin.id }}</td>
                        <td>{{ admin.username }}</td>
                        <td>{{ admin.email }}</td>
                        <td>{{ admin.name }}</td>
                        <td>
                            <a href="{{ path('admin_edit', {id: admin.id}) }}" class="btn btn-warning">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                            <a href="{{ path('admin_delete', {id: admin.id}) }}" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation" align="center">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}