{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="card-box">
            <h1>Курьеры</h1>
            <hr>
            <a href="{{ path('courier_new') }}" class="btn btn-success">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
            <table class="table">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Id', 'c.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'ФИО', 'c.name') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Автомобиль', 'c.car') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Телефон', 'c.phone') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Информация', 'c.description') }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for courier in pagination %}
                    <tr>
                        <td>{{ courier.id }}</td>
                        <td>{{ courier.name }}</td>
                        <td>{{ courier.car }}</td>
                        <td>{{ courier.phone }}</td>
                        <td>{{ courier.description }}</td>
                        <td>
                            <a href="{{ path('courier_edit', {id: courier.id}) }}" class="btn btn-warning">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                            <a href="{{ path('courier_delete', {id: courier.id}) }}" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation" align="center">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}