{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <h1>Инструкция</h1>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-success">Сохранить</button>
                    {{ form_end(form) }}
                </div>
            </div><!-- end col -->
        </div>
        <!-- End row -->
    </div>
{% endblock %}