{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="card-box">
            <h1>Редактировать продукт</h1>
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <button type="submit" class="btn btn-success">Сохранить</button>
            {{ form_end(edit_form) }}
            <br>
            <a href="{{ path('product_show') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </a>
        </div>
    </div>
{% endblock %}