{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="card-box">
            <h1>Продукты</h1>
            <hr>
            <a href="{{ path('product_new') }}" class="btn btn-success">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
            <table class="table">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Id', 'p.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Название', 'p.name') }}</th>
                    <th>Описание</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Категория', 'category.name') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Наличие', 'p.balance') }}</th>
                    <th>Свойства товара</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for product in pagination %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.balance }}</td>
                        <td>
                            {% for field in product.fields %}
                                <p>{{ field.field }} {{ field.value }}</p>
                            {% endfor %}
                            <a href="{{ path('product_field_show', {id: product.id}) }}" class="btn btn-warning">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('product_edit', {id: product.id}) }}" class="btn btn-warning">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('product_delete', {id: product.id}) }}" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation" align="center">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}