<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}Курьер - платформа для учёта доставки{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">#}
    
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <link href="{{ asset('js/custombox/dist/custombox.min.css') }}" rel="stylesheet">

    <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/core.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/components.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/icons.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/pages.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/menu_dark.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/responsive.css') }}" rel="stylesheet" type="text/css" />

    <style>
        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }
        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 60px;
            background-color: #f5f5f5;
        }
        footer a {
            color: #ffffff;
        }
        footer a:hover {
            color: #999999;
        }
    </style>
    <script src="{{ asset('js/modernizr.min.js') }}"></script>
</head>
<body>
{% include '::nav.html.twig' %}

{% block sidebar %}
    <div id="mySidenav" class="sidenav">
        {{ render(controller('CatalogBundle:Base:sidebar')) }}
    </div>
{% endblock %}


{% block body %}{% endblock %}
<footer class="footer">
    <h4>Разработчики</h4>
    <h4><a href="http://xn--6--olcapg0av7e.xn--p1ai/">"Шесть Решений"</a></h4>
</footer>
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{% endblock %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    var resizefunc = [];
    var isOpen = false;

    function openNav() {
        if (isOpen) {
            closeNav();
            return;
        }
        document.getElementById("mySidenav").style.width = "450px";
        isOpen = true;
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        isOpen = false;
    }

    $(document).ready(function () {
        $('.sidenav').css('top', $('#navbar').height());

        let $mySidenav = $('#mySidenav');
        let html = $.parseHTML($mySidenav.text());
        $mySidenav.empty();
        $mySidenav.append(html);

        if($("#instruction_text").length > 0){
            tinymce.init({
                selector: "textarea#instruction_text",
                theme: "modern",
                height:300,
                plugins: [
                    "advlist autolink link lists charmap preview hr anchor pagebreak spellchecker",
                    "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime nonbreaking",
                    "save table contextmenu directionality emoticons template paste textcolor"
                ],
                toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons",
                style_formats: [
                    {title: 'Bold text', inline: 'b'},
                    {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
                    {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
                    {title: 'Example 1', inline: 'span', classes: 'example1'},
                    {title: 'Example 2', inline: 'span', classes: 'example2'},
                    {title: 'Table styles'},
                    {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
                ]
            });
        }
    })
</script>

<!-- jQuery  -->
<script src="{{ asset('js/detect.js') }}"></script>
<script src="{{ asset('js/fastclick.js') }}"></script>
<script src="{{ asset('js/jquery.slimscroll.js') }}"></script>
<script src="{{ asset('js/jquery.blockUI.js') }}"></script>
<script src="{{ asset('js/waves.js') }}"></script>
<script src="{{ asset('js/jquery.nicescroll.js') }}"></script>
<script src="{{ asset('js/jquery.scrollTo.min.js') }}"></script>
<!-- Modal-Effect -->
<script src="{{ asset('js/custombox/dist/custombox.min.js') }}"></script>
<script src="{{ asset('js/custombox/dist/legacy.min.js') }}"></script>

<script src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>

<script src="{{ asset('js/jquery.core.js') }}"></script>
<script src="{{ asset('js/jquery.app.js') }}"></script>

</body>
</html>
