<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('order_show') }}">Заказы</a></li>
                <li><a href="{{ path('order_new') }}">Карта курьеров</a></li>
                <li><a href="{{ path('buyer_show') }}">Покупатели</a></li>
                <li><a href="{{ path('courier_show') }}">Курьеры</a></li>
                {% if is_granted("ROLE_ADMIN") %}
                <li><a href="{{ path('manager_show') }}">Менеджеры</a></li>
                <li><a href="{{ path('admin_show') }}">Администраторы</a></li>
                {% endif %}
                <li><a href="{{ path('product_show') }}">Товары</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Настройки <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('field_show') }}">Свойства товара</a></li>
                        <li><a href="{{ path('category_show') }}">Категории</a></li>
                        <li><a href="{{ path('payment_show') }}">Виды оплат</a></li>
                        <li><a href="{{ path('status_show') }}">Статусы</a></li>
                        <li><a href="{{ path('from_address_show') }}">Точки отправлений</a></li>
                        {% if is_granted("ROLE_ADMIN") %}
                        <li><a href="{{ path('action_instruction') }}">Инструкция</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}
                </li>
                <li onclick="openNav()" class="hidden-xs">
                    <a href="#">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
