<template>
    <div>
        <div id="map" style="width: 600px; height: 400px"></div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                map: {}
            }
        },
        mounted() {
            $.getScript('//api-maps.yandex.ru/2.1/?lang=ru_RU').then(() => {
                const ymaps = global.ymaps;
                ymaps.ready(() => {
                    new ymaps.Map("map", {
                        center: [55.76, 37.64],
                        zoom: 12
                    });
                });
            });
        }
    }
</script>