<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="manager">Менеджер</label>
                                <manager :id="'manager'" :options="managers"></manager>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="date">Дата</label>
                                <input type="text" id="date" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="discount">Скидка %</label>
                                <select name="discount" id="discount" class="form-control">
                                    <option value="default" disabled selected class="default">0</option>
                                    <option value="five">5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="checkbox">
                                <label><input type="checkbox"> Предварительный заказ</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox">
                                <label><input type="checkbox"> Продлить смену на данный заказ</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox">
                                <label><input type="checkbox"> Закрепить скидку за клиентом</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="phone">Телефон</label>
                                <input type="text" id="phone" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="name">Ф.И.О.</label>
                                <input type="text" id="name" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="metro">Станция метро</label>
                                <input type="text" id="metro" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="delivery">Доставка</label>
                                <input type="text" id="delivery" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="checkbox">
                                <label><input type="checkbox"> Бесплатно для клиента</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group">
                                <label for="city">Город</label>
                                <input type="text" id="city" placeholder="Укажите город" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group">
                                <label for="street">Улица</label>
                                <input type="text" id="street" placeholder="Укажите Улицу" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="house">Дом</label>
                                    <input type="text" id="house" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="block">Корпус</label>
                                    <input type="text" id="block" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="entrance">Подъезд</label>
                                    <input type="text" id="entrance" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="floor">Этаж</label>
                                    <input type="text" id="floor" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="apartment">Квартира</label>
                                    <input type="text" id="apartment" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="intercom">Домофон</label>
                                    <input type="text" id="intercom" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="additionally">Дополнительная информация</label>
                                    <textarea name="additionally" id="additionally" rows="5" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="new-product">Добавить товар</label>
                                <input type="text" class="form-control" placeholder="Введите название товара" id="new-product">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <label for="quantity">Кол-во</label>
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="number" min="1" class="form-control" id="quantity" value="1">
                                    </div>
                                    <div class="col-xs-6">
                                        <button type="button" class="btn btn-success">Добавить</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-8 information">
                                <div class="col-xs-6">
                                    <p><label>Сумма заказа: </label><b>2580</b></p>
                                    <p><label>Скидка: </label><b>0</b></p>
                                </div>
                                <div class="col-xs-6">
                                    <p><label>Доставка: </label><b>400</b></p>
                                    <p><label>К оплате: </label><b>2980</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td>Вино белое сухое "Пино Гриджио" 0,75</td>
                                    <td class="col-xs-2">
                                        <input type="number" min="1" class="form-control" value="1">
                                    </td>
                                    <td>1290</td>
                                    <td>1290</td>
                                    <td><button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-remove"></span></button></td>
                                </tr>
                                <tr>
                                    <td>Вино белое сухое "Пино Гриджио" 0,75</td>
                                    <td class="col-xs-2">
                                        <input type="number" min="1" class="form-control" value="1">
                                    </td>
                                    <td>1290</td>
                                    <td>1290</td>
                                    <td><button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-remove"></span></button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="courier">Курьер</label>
                                    <courier :id="'courier'" :options="couriers" @setCourier="setCourier"></courier>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="status">Статус</label>
                                    <select name="status" id="status" class="form-control">
                                        <option value="default" disabled selected class="default">Выбрать статус</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="note">Примечание</label>
                                    <textarea name="note" id="note" rows="5" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-xs-6">
                                <div class="checkbox">
                                    <label><input type="checkbox"> Позвонить у подъезда</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox"> Оплачен on-line</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox"> Отправить СМС № заказа</label>
                                </div>
                            </div>
                            <div class="col-xs-6 information">
                                <div class="form-group">
                                    <label for="surrender">Требуется сдача</label>
                                    <input type="text" class="form-control" id="surrender" value="4000">
                                </div>
                                <p><label>Сдача: </label><b>1020</b></p>
                            </div>
                            <div class="col-xs-12">
                                <button type="button" class="btn btn-success">Сохранить</button>
                                <button type="button" class="btn btn-warning">Печать</button>
                                <button type="button" class="btn btn-default">Отменить</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-xs-10 col-xs-offset-1">
                                <yamap></yamap>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['route'],
        data() {
            return {
                managers: [],
                couriers: []
            }
        },
        created() {
            axios.get(this.route + 'api/get-managers').then(response => {
                this.managers = response.data;
                console.log(this.managers)
            }).catch(e => {
                console.log(e);
            });
            axios.get(this.route + 'api/get-couriers').then(response => {
                this.couriers = response.data;
            }).catch(e => {
                console.log(e);
            });
        },
        methods: {
            setCourier(value) {
                console.log(value);
            }
        }
    }
</script>