<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="manager">Менеджер</label>
                                <select name="manager" id="manager" class="form-control" v-model="filters.manager">
                                    <option value="">Выбрать менеджера</option>
                                    <template v-for="(manager, key) in managers">
                                        <option :value="manager.id">
                                            {{ manager.name }} - {{ manager.email }}
                                        </option>
                                    </template>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="status">Статус</label>
                                <select name="status" id="status" class="form-control" v-model="filters.status">
                                    <option value="" v-model="filters.status">Выбрать статус заказа</option>
                                    <template v-for="(status, key) in statuses">
                                        <option :value="status.id">
                                            {{ status.title }}
                                        </option>
                                    </template>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="courier">Курьер</label>
                                <select name="courier" id="courier" class="form-control" v-model="filters.courier">
                                    <option value="" v-model="filters.courier">Выбрать курьера</option>
                                    <template v-for="(courier, key) in couriers">
                                        <option :value="courier.id">
                                            {{ courier.name }} {{ courier.car }} - {{ courier.phone }}
                                        </option>
                                    </template>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="payment">Оплата</label>
                                <select name="payment" id="payment" class="form-control" v-model="filters.payment">
                                    <option value="" v-model="filters.payment">Выбрать вид оплаты</option>
                                    <template v-for="(payment, key) in payments">
                                        <option :value="payment.id">
                                            {{ payment.title }}
                                        </option>
                                    </template>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label>Период</label>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <div class="input-group date" id="from">
                                            <input type="text" class="form-control" placeholder="С" v-model="filters.dates.from">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar open-datetimepicker"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <div class="input-group date" id="to">
                                            <input type="text" class="form-control" placeholder="По" v-model="filters.dates.to">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone2">Телефон</label>
                                <input type="text" id="phone2" class="form-control" placeholder="Поиск по номеру телефона" v-model="filters.buyerPhone">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="checkbox">
                                <label><input type="checkbox" value="" v-model="filters.overdue"> Просроченные заказы</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" v-model="filters.freeDelivery"> Бесплатная доставка</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="search">Поиск</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Поиск" id="search">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    </button>
                                </span>
                            </div><!-- /input-group -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="jumbotron information">
                    <p><label>Заказы:</label> <b>{{ total }} шт.</b></p>
                    <p><label>Себестоимость:</label> <b>42,622</b></p>
                    <p><label>Розничная:</label> <b>86,696</b></p>
                    <p><label>Прибыль:</label> <b>44,074</b></p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-xs-3">
                            <h4>Таблица</h4>
                            <h5>Статистика заказов</h5>
                        </div>
                        <div class="col-xs-8">
                            <div class="col-xs-2">
                                <div class="checkbox">
                                    <label><input type="checkbox" value="" v-model="orderCheck"> Заказ</label>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="checkbox">
                                    <label><input type="checkbox" value="" v-model="dateCheck"> Дата</label>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="checkbox">
                                    <label><input type="checkbox" value="" v-model="managerCheck"> Менеджер</label>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="checkbox">
                                    <label><input type="checkbox" value="" v-model="paymentCheck"> Оплата</label>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="checkbox">
                                    <label><input type="checkbox" value="" v-model="statusCheck"> Статус</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>№</th>
                                    <th v-if="orderCheck">Заказ</th>
                                    <th v-if="dateCheck">Дата</th>
                                    <th v-if="managerCheck">Менеджер</th>
                                    <th v-if="paymentCheck">Оплата</th>
                                    <th v-if="statusCheck">Статус</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(order, key) in orders">
                                    <td>{{ order.id }}</td>
                                    <td v-if="orderCheck">
                                        <table>
                                            <tr v-for="product in order.product">
                                                <td>{{ product.product.name }}&nbsp;</td>
                                                <td>{{ product.number }} шт.</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td v-if="dateCheck">{{ order.date }}</td>
                                    <td v-if="managerCheck">{{ order.manager.first_name }} {{ order.manager.last_name }}</td>
                                    <td v-if="paymentCheck">{{ order.payment.title }}</td>
                                    <td v-if="statusCheck">{{ order.status.title }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div align="center">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                        <li>
                                            <a aria-label="Previous" @click="refreshOrders(1)">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li v-for="page in pages"><a @click="refreshOrders(page)">{{ page }}</a></li>
                                        <li>
                                            <a aria-label="Next" @click="refreshOrders(pages)">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment'
    import eonosdandatetimepicker from 'eonasdan-bootstrap-datetimepicker'

    export default {
        props: ['route'],
        data() {
            return {
                managers: [],
                statuses: [],
                couriers: [],
                orders: [],
                payments: [],
                orderCheck: true,
                paymentCheck: true,
                dateCheck: true,
                managerCheck: true,
                statusCheck: true,
                pages: 0,
                total: 0,
                perPage: 5,
                currentPage: 1,
                filters: {
                    manager: '',
                    status: '',
                    courier: '',
                    order: '',
                    payment: '',
                    dates: {
                        from: '',
                        to: ''
                    },
                    buyerPhone: '',
                    overdue: false,
                    freeDelivery: false
                }
            }
        },
        created() {
            const self = this;
            $(function () {
                $('#from').datetimepicker({
                    locale: 'ru',
                    format: 'L'
                });
                $('#to').datetimepicker({
                    locale: 'ru',
                    format: 'L',
                    useCurrent: false
                });
                $("#from").on("dp.change", function (e) {
                    $('#to').data("DateTimePicker").minDate(e.date);
                    self.filters.dates.from = e.date.format('L');
                });
                $("#to").on("dp.change", function (e) {
                    $('#from').data("DateTimePicker").maxDate(e.date);
                    self.filters.dates.to = e.date.format('L');
                });
            });
            this.refreshOrders(1);
            axios.get(this.route + 'api/get-managers').then(response => {
                this.managers = response.data;
            }).catch(e => {
                console.log(e);
            });
            axios.get(this.route + 'api/get-statuses').then(response => {
                this.statuses = response.data;
            }).catch(e => {
                console.log(e);
            });
            axios.get(this.route + 'api/get-couriers').then(response => {
                this.couriers = response.data;
            }).catch(e => {
                console.log(e);
            });
            axios.get(this.route + 'api/get-payments').then(response => {
                this.payments = response.data;
            }).catch(e => {
                console.log(e);
            });
        },
        methods: {
            refreshOrders(page) {
                axios.post(this.route + 'api/get-orders', {
                    page: page,
                    perPage: this.perPage,
                    filters: this.filters
                }).then(response => {
                    this.orders = response.data.data;
                    this.total = response.data.total;
                    let num = response.data.count / 5;
                    this.pages = Math.ceil(num);
                }).catch(e => {
                    console.log(e);
                });
            }
        },
        watch: {
            'filters.manager'() {
                this.refreshOrders(1);
            },
            'filters.status'() {
                this.refreshOrders(1);
            },
            'filters.courier'() {
                this.refreshOrders(1);
            },
            'filters.payment'() {
                this.refreshOrders(1);
            },
            'filters.dates.from'() {
                this.refreshOrders(1);
            },
            'filters.dates.to'() {
                this.refreshOrders(1);
            },
            'filters.buyerPhone'() {
                this.refreshOrders(1);
            },
            'filters.overdue'() {
                this.refreshOrders(1);
            },
            'filters.freeDelivery'() {
                this.refreshOrders(1);
            }
        }
    }
</script>

<style>
    a {
        cursor: pointer;
    }
</style>