{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="card-box">
            <h1>Редактировать менеджера {{ manager.username }}</h1>
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <button type="submit" class="btn btn-success">Сохранить</button>
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}