{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}">
{% endblock %}

{% block body %}
    <div class="container" id="app">
        <new-order route="{{ path('index') }}" test="{{ order.id }}"></new-order>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/dist/build.js') }}"></script>
{% endblock %}