{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Edit order product</h1>
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <button type="submit" class="btn btn-success">Save</button>
        {{ form_end(edit_form) }}
        <br>
        <a href="{{ path('order_product_show', {id: order.id}) }}" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        </a>
    </div>
{% endblock %}