{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Order #{{ order.id }} {{ order.date|date('Y-m-d') }} products</h1>
        <a href="{{ path('order_product_new', {id: order.id}) }}" class="btn btn-success">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
        {% if products %}
            <table class="table">
                <tr>
                    <th>Product</th>
                    <th>Number</th>
                    <th></th>
                </tr>
                {% for product in products %}
                    <tr>
                        <td>{{ product.product.name }}</td>
                        <td>{{ product.number }}</td>
                        <td>
                            <a href="{{ path('order_product_edit', {order_id: order.id, product_id: product.id}) }}" class="btn btn-warning">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                            <a href="{{ path('order_product_delete', {order_id: order.id, product_id: product.id}) }}" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h4>Нет записей</h4>
        {% endif %}

        <a href="{{ path('order_show') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        </a>
    </div>
{% endblock %}