body {
    padding-top: 70px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

a.sortable {
    color: #FFFFFF;
}

a.asc, a.desc {
    color: #71b6f9;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: -20px;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 10px;
    color: #FFFFFF;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.close {
    opacity: 1 !important;
}

.custom-modal-text {
    font-size: 16px;
    color: #FFFFFF;
}