{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="card-box">
            <h1>Покупатели</h1>
            <hr>
            <a href="{{ path('buyer_new') }}" class="btn btn-success">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
            <table class="table">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Id', 'b.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'ФИО', 'b.name') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Телефон', 'b.phone') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Заметка', 'b.note') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Черный список', 'b.black') }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for buyer in pagination %}
                    <tr>
                        <td>{{ buyer.id }}</td>
                        <td>{{ buyer.name }}</td>
                        <td>{{ buyer.phone }}</td>
                        <td>{{ buyer.note }}</td>
                        <td>{{ buyer.black ? 'Да' : 'Нет' }}</td>
                        <td>
                            <a href="{{ path('buyer_edit', {id: buyer.id}) }}" class="btn btn-warning">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                            <a href="{{ path('buyer_delete', {id: buyer.id}) }}" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation" align="center">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}