<div class="container">
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        <div class="form-group">
            {% if invalid_username is defined %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}
                </div>
            {% endif %}
            <label for="username">
                {{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}
            </label>
            <input type="text" id="username" name="username" required="required" class="form-control" />
        </div>
        <div>
            <button type="submit" class="btn btn-info">
                {{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}
            </button>
        </div>
    </form>
</div>
