<div class="container">
    <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
        {{ form_widget(form) }}
        <div>
            <button type="submit" class="btn btn-info">{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}</button>
        </div>
    </form>
</div>
