<template>
    <div>
        <input type="text" :name="id" :list="id" class="form-control" v-model="selectManager">
        <datalist :id="id">
            <option v-for="manager in options" :value=" manager.firstName + ' ' + manager.lastName">
                {{ manager.email }}
            </option>
        </datalist>
    </div>
</template>

<script>
    export default {
        props: ['options', 'id'],
        data() {
            return {
                selectManager: ''
            }
        },
    }
</script>