{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="card-box">
            <h1>Свойства товаров</h1>
            <hr>
            <a href="{{ path('field_new') }}" class="btn btn-success">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
            {% if fields %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Название</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for field in fields %}
                        <tr>
                            <td>{{ field.id }}</td>
                            <td>{{ field.title }}</td>
                            <td>
                                <a href="{{ path('field_edit', {id: field.id}) }}" class="btn btn-warning">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </a>
                                <a href="{{ path('field_delete', {id: field.id}) }}" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h4>Нет записей</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}