<template>
    <div>
        <input type="text" :name="id" :list="id" class="form-control" v-model="selectCourier">
        <datalist :id="id">
            <option v-for="courier in options" :value="courier.name">
                {{ courier.car }} {{ courier.phone }}
            </option>
        </datalist>
    </div>
</template>

<script>
    export default {
        props: ['options', 'id'],
        data() {
            return {
                selectCourier: ''
            }
        },
        watch: {
            selectCourier() {
                this.sendCourier();
            }
        },
        methods: {
            sendCourier(event) {
                this.$emit('setCourier', this.selectCourier)
            }
        }
    }
</script>