{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="card-box">
            <h1>Свойства товара "{{ product.name }}"</h1>
            <hr>
            <a href="{{ path('product_field_new', {id: product.id}) }}" class="btn btn-success">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
            {% if fields %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Свойство</th>
                        <th>Значение</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for field in fields %}
                        <tr>
                            <td>{{ field.field.title }}</td>
                            <td>{{ field.value }}</td>
                            <td>
                                <a href="{{ path('product_field_edit', {prod_id: product.id, field_id: field.id}) }}" class="btn btn-warning">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </a>
                                <a href="{{ path('product_field_delete', {prod_id: product.id, field_id: field.id}) }}" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h4>Нет записей</h4>
            {% endif %}

            <a href="{{ path('product_show') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </a>
        </div>
    </div>
{% endblock %}